# See https://help.github.com/ignore-files/ for more about ignoring files.
.vscode/*
# exports
*.xlsx
*.pdf

# dependencies
/API/functions/node_modules
/node_modules

# testing
/coverage

# production
#/build

.env
.env.staging
.env.production
config.*

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#excelfiles
/controllers/eventDetails.xlsx
/controllers/.~lock.eventDetails.xlsx#
