<!DOCTYPE html>
<html>
<head>
	<title>Event Receipt</title>
</head>
<body>
<h1>MIT</h1>
<table>
	<tr>
		<td>Name</td>
		<td><%= name %></td>
	</tr>
	<tr>
		<td>Eveve</td>
		<td><%= eventidd %></td>
	</tr>
</table>
</body>
</html>